apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: minikube
  namespace: flux-system
spec:
  path: "./clusters/minikube"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
